@{ 
    ViewBag.Title = "Pizza";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
@*<a href="C:\Users\Jakimovski\Desktop\Programming Staff\SEAVUS Academu .NET Developer\MVC\skwd9-net-08-aspnetmvc\G1\Class_03\SEDC.PizzaApp\SEDC.PizzaApp.Web\Views\Shared\_SecondLayout.cshtml">C:\Users\Jakimovski\Desktop\Programming Staff\SEAVUS Academu .NET Developer\MVC\skwd9-net-08-aspnetmvc\G1\Class_03\SEDC.PizzaApp\SEDC.PizzaApp.Web\Views\Shared\_SecondLayout.cshtml</a>*@

<h2>Pizza list</h2>

<div class="row">
    <div class="col-md-4">
        <p class="text-center">
            @ViewData["Title"]
        </p>
        <p class="text-center">
            @ViewData["NumberOfApp"]
        </p>
        <p class="text-center">
            @ViewData["Pizza"]
        </p>
        <p class="text-center">
            @ViewBag.Name
        </p>
        <p class="text-center">
            @ViewBag.NumberOfPizzas
        </p>
        <p class="text-center">
            @ViewBag.Pizza
        </p>
        <p class="text-center">
            @ViewBag.Pizza.IsOnPromotion
        </p>
    </div>
</div>